<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL__</string>
    <key>ProgramArguments</key>
    <array>
        <string>__NODE_BIN__</string>
        <string>__LIVE_SERVER_JS__</string>
        <string>--port=8765</string>
        <string>--host=127.0.0.1</string>
        <string>--no-browser</string>
        <string>--wait=120</string>
        <string>__HOME__/docs</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__HOME__/docs</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__HOME__/.local/log/docs-livereload.out.log</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/.local/log/docs-livereload.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>__NODE_BIN_DIR__:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
